<div class="background-image">
  <h1>Calculadora Examen1</h1>
  <div class="container">
    <div class="row calculator-container">
      <div class="col-12">
        <input class="input-screen-round" type="text" readonly="true" value="0" [formControl]="pantalla">
      </div>
      <div class="col-3 without-margin">
        <button class="top" (click)="operacionesmath('+')">+</button>
      </div>
      <div class="col-3 without-margin">
        <button class="top" (click)="operacionesmath('-')">-</button>
      </div>
      <div class="col-3 without-margin">
        <button class="top" (click)="operacionesmath('*')">*</button>
      </div>
      <div class="col-3 without-margin">
        <button class="top" (click)="('/')">/</button>
      </div>

      <div class="col-3 without-margin">
        <div class="without-margin">
          <button (click)="valorpantalla('7')">7</button>
        </div>
        <div class="without-margin">
          <button (click)="valorpantalla('4')">4</button>
        </div>
        <div class="without-margin">
          <button (click)="valorpantalla('1')">1</button>
        </div>
        <div class="without-margin">
          <button (click)="valorpantalla('0')" class="btn-0-round">0</button>
        </div>
      </div>

      <div class="col-3 without-margin">
        <div class="without-margin">
          <button (click)="valorpantalla('8')">8</button>
        </div>
        <div class="without-margin">
          <button (click)="valorpantalla('5')">5</button>
        </div>
        <div class="without-margin">
          <button (click)="valorpantalla('2')">2</button>
        </div>
        <div class="without-margin">
          <button (click)="valorpantalla('.')">.</button>
        </div>
      </div>

      <div class="col-3 without-margin">
        <div class="without-margin">
          <button (click)="valorpantalla('9')">9</button>
        </div>
        <div class="without-margin">
          <button (click)="valorpantalla('6')">6</button>
        </div>
        <div class="without-margin">
          <button (click)="valorpantalla('3')">3</button>
        </div>
        <div class="without-margin">
          <button (click)="clean()">AC</button>
        </div>
      </div>

      <div class="col-3 without-margin">
        <div style="height: 50%">
          <div class="without-margin">
            <button (click)="raiz()">√</button>
          </div>
          <div class="without-margin">
            <button (click)="exponencial()">x²</button>
          </div>
        </div>
        <div style="height: 50%">
          <button (click)="resultado()" class="btn-equal-round">=</button>
        </div>
      </div>

    </div>
  </div>
</div>
